
.pageHeader {
	text-align: center;
}
.searchContainer {
	text-align: center;
}
.currentWeatherCardContainer {
	width: 100%;
	box-sizing: border-box;
	display:inline-block;
	background: #3ac7a4;
	position: relative;
	box-shadow: inset -20px -20px 60px #31a98b, 
            inset 20px 20px 60px #43e5bd;
}
.currentWeatherCardMainPanel {
	float: left;
	width: 80%;
	box-sizing: border-box;
	display: inline-block;
}
body{
background: #3ac7a4;
}
#alignmentContainer{
	text-align:center;
}
#weatherResponseContainer{
	width:80%;
	margin:auto;
	background: #3ac7a4;
	box-shadow:  -20px 60px 60px #31a98b, 
             20px 20px 60px #43e5bd;
	display: inline-block;
}
.currentTemperatureContainer{
	width: 20%;
	right: 0%;
 	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	box-sizing: border-box;
	display: inline-block;
	text-align: center;
}
.mainForecastCardContainer{
	margin: auto;
	background-color: #EFEEEE;
	text-align: center;
}
.forecastCard{
	text-align: center;
	display: inline-block;
	float: left;
	box-sizing: border-box;
	background: #3ac7a4;
  	box-shadow:inset -20px -20px 60px #31a98b, 
            inset 20px 20px 60px #43e5bd;
}
#mapContainer{
	margin: 40px 0px 0px 0px;
	position: relative;
	height: calc(25vh);
}
.mapFrame{
	height: 100%;
	width: 80%;
	right: 50%;
	transform: translateX(50%);
	position: absolute;
}
span{
	display: block;
}